.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0px;
  width: 100%;
  z-index: 4;
  transition: 0.3s;
}

.menu--active {
  background-color: #0D0D0D;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}

.menu__items {
  display: flex;
}

.menu__item {
  list-style: none;
  margin-right: 40px;
  position: relative;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item::before {
  display: block;
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: #5142FD;
  transition: 0.3s;
}

.menu__item:hover::before {
  width: 25px;
}

.menu__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.095em;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__icon {
  width: 20px;
  display: none;
}

.menu__icon-item {
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.menu__icon-item:nth-child(2) {
  margin: 5px 0px;
}

.menu__icon--active .menu__icon-item:nth-child(1) {
  transform: rotate(45deg);
}

.menu__icon--active .menu__icon-item:nth-child(2) {
  display: none;
}

.menu__icon--active .menu__icon-item:nth-child(3) {
  position: relative;
  transform: rotate(-45deg);
  bottom: 2px;
}

.header {
  margin-top: 170px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  width: 50%;
}

.header__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  color: #FFFFFF;
}

.header__desc {
  margin-top: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.header__btn {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__img {
  width: 40%;
  overflow: hidden;
  border-radius: 20px;
}

.header__img-box {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.header__img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.static {
  margin-top: 50px;
}

.static__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.static__top-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.static__top-content {
  min-height: 95px;
  margin-top: 20px;
  background: rgba(81, 66, 253, 0.2);
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.static__top-icon {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.static__top-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.static__top-value {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.static__all {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static__all-item {
  min-width: 160px;
  min-height: 95px;
  padding: 10px 30px;
  text-align: center;
  background: rgba(81, 66, 253, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static__all-item--mr {
  margin-right: 30px;
}

.static__all-value {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}

.static__all-desc {
  margin-top: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.live-auctions {
  margin-top: 110px;
}

.live-auctions__content {
  margin-top: 50px;
}

.live-auctions__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.live-auctions__buttons-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}

.live-auctions__buttons-prev-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
  transition: 0.3s ease-in-out;
}

.live-auctions__buttons-prev-img:hover {
  fill: #5142FD;
}

.live-auctions__buttons-next {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.live-auctions__buttons-next-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
  transition: 0.3s ease-in-out;
}

.live-auctions__buttons-next-img:hover {
  fill: #5142FD;
}

.top-artists {
  margin-top: 110px;
}

.top-artists__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-artists__item {
  margin-top: 30px;
  width: calc(33% - 20px);
  padding: 20px;
  border-radius: 20px;
  background: #343444;
  display: flex;
  justify-content: start;
  align-items: center;
}

.top-artists__avatar {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
}

.top-artists__avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-artists__text-box {
  margin-left: 30px;
}

.top-artists__name {
  display: flex;
  justify-content: start;
  align-items: center;
}

.top-artists__name-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
}

.top-artists__name-ticket {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.top-artists__name-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-artists__value {
  margin-top: 7px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.new-picks {
  margin-top: 110px;
}

.new-picks__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.popular-col {
  margin-top: 110px;
}

.popular-col__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.popular-col__item {
  background: #343444;
  border-radius: 20px;
  width: calc(33% - 20px);
  padding: 20px;
  margin-top: 30px;
}

.popular-col__item-top {
  display: flex;
  justify-content: start;
  align-items: center;
}

.popular-col__logo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 20px;
}

.popular-col__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular-col__name {
  margin-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.popular-col__name-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
}

.popular-col__name-img {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

.popular-col__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.popular-col__img {
  width: calc(50% - 10px);
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
}

.popular-col__img-box {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.popular-col a {
  text-decoration: none;
}

.popular-col__img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.join-us {
  margin-top: 110px;
  text-align: center;
}

.join-us__inner {
  background: #343444;
  border-radius: 20px;
  width: 100%;
  padding: 40px;
}

.join-us__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.join-us__desc {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer {
  background: #0D0D0D;
  width: 100%;
  padding: 40px;
  margin-top: 110px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__info-desc {
  width: 50%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__soc {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__soc-item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background: #343444;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.footer__soc-item:last-child {
  margin-right: 0px;
}

.footer__soc-item:hover {
  background: #5142FD;
}

.footer__soc-img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__nav {
  flex: 1;
}

.footer__nav-box {
  margin-top: 21px;
}

.footer__nav-link {
  display: block;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__nav-link:last-child {
  margin-bottom: 0px;
}

.footer__form {
  flex: 1;
}

.footer__form-box {
  margin-top: 21px;
  display: block;
  position: relative;
}

.footer__form-input {
  display: block;
  width: 100%;
  padding: 10px 50px 10px 20px;
  background: #343444;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  height: 40px;
}

.footer__form-input::-moz-placeholder {
  color: #7B7B7B;
}

.footer__form-input::placeholder {
  color: #7B7B7B;
}

.footer__form-button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
  background: #5142FD;
  padding: 10px;
  border: none;
  cursor: pointer;
  height: 40px;
}

.footer__form-icon {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:focus {
  outline: none;
}

body {
  background: #14141F;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #5142FD;
  border-radius: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #0D0D0D;
}

.href {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
}

.href--header {
  margin-left: 45px;
}

.href img {
  margin-left: 5px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.item {
  width: calc(33% - 20px);
  padding: 20px;
  border-radius: 20px;
  background: #343444;
}

.item__img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  position: relative;
}

.item__img::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
}

.item__img:hover::after {
  opacity: 1;
}

.item__img-box {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.item__img-elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__title {
  margin-top: 20px;
  text-align: left;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
}

.item__price {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__price-desc {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #7B7B7B;
}

.item__price-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.item__price-img {
  width: 20px;
  height: 20px;
}

.item__price-img-elem {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__price-value {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  color: #FFFFFF;
  margin-left: 12px;
}

.item__buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__buttons-item {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #7B7B7B;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item__buttons-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.item--mt {
  margin-top: 30px;
}

.timer {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background: #0D0D0D;
  border-radius: 20px;
  padding: 7px 20px;
  z-index: 3;
}

.timer__img {
  width: 20px;
  height: 20px;
}

.timer__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.timer__value {
  margin-left: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.swiper-pagination {
  position: static;
  width: auto !important;
  margin: 0px 30px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin: 0px 10px !important;
  border: 1px solid #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

@media (max-width: 980px) {
  .top-artists__item {
    width: calc(50% - 20px);
  }

  .popular-col__item {
    width: calc(50% - 20px);
  }

  .popular-col__item:nth-child(3) {
    display: none;
  }

  .item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 900px) {
  .static__all {
    display: none;
  }
}

@media (max-width: 850px) {
  .menu__logo {
    z-index: 2;
  }

  .menu__items {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0D0D0D;
  }

  .menu__btn {
    display: none !important;
  }

  .menu__item {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .menu__item:last-child {
    margin-bottom: 0px;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__icon {
    display: block;
  }

  .menu__icon {
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .header__inner {
    flex-direction: column-reverse;
  }

  .header__content {
    margin-top: 50px;
    text-align: center;
    width: 70%;
  }

  .header__btn {
    justify-content: center;
  }

  .header__img {
    width: 50%;
  }

  .static__top {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
  }

  .static__top-content {
    justify-content: center;
  }

  .footer__info-desc {
    margin: 25px 0px;
  }

  .footer__nav {
    display: none;
  }
}

@media (max-width: 650px) {
  .top-artists__item {
    width: 100%;
  }

  .popular-col__item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .header__content {
    width: 100%;
  }

  .header__img {
    width: 90%;
  }

  .static__top {
    width: 100%;
  }

  .popular-col__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__inner {
    display: block;
    text-align: center;
  }

  .footer__info-desc {
    width: 100%;
    font-size: 18px;
    margin: 30px 0px;
  }

  .footer__soc {
    justify-content: center;
  }

  .footer__form {
    margin-top: 35px;
  }

  .footer__form-input {
    font-size: 18px;
    height: 50px;
  }

  .footer__form-button {
    height: 50px;
  }

  .item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 36px;
  }

  .header__btn {
    display: block;
  }

  .header__img {
    width: 100%;
  }

  .static {
    display: none;
  }

  .join-us__inner {
    padding: 20px;
  }

  .footer {
    padding: 40px 0px;
  }

  .btn {
    width: 100%;
    font-size: 16px;
  }

  .btn--picks {
    width: auto;
  }

  .href--header {
    margin-left: 0px;
    justify-content: center;
  }

  .href {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
  }

  .title-box {
    display: block;
  }

  .title {
    font-size: 30px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0px 5px !important;
  }
}